html {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0efe9;
}

div {
    box-sizing: border-box;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prog-container {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 1;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px 30px;
    -webkit-box-shadow: 10px -7px 17px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px -7px 17px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px -7px 17px -4px rgba(0, 0, 0, 0.75);
}

.prog-container:hover {
    cursor: progress;
}

.main {
    flex-basis: 40%;
    height: 90%;
    border: 2px dotted rgb(212, 212, 218);
    position: relative;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.date-container {
    background-color: #ffffff;
    flex: 0.25;
    padding: 30px;
    height: 10vh;
}

.date-box {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.large {
    font-size: 5rem;
}

.box h1 {
    font-size: 3em;
}

.box p {
    font-size: 2em;
}

.options-container {
    flex: 0.25;
    display: flex;
}

.options-container button {
    flex: 1;
    font-size: 2em;
}

.inliner-block {
    display: inline-block;
}

.block {
    display: block;
}

.todo-container {
    background-color: #ffffff;
    flex: 4;
    padding: 25px;
}

li {
    list-style-type: none;
}

.todo-list {
    font-size: 2em;
}

.todo {
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    justify-content: flex-end;
}

.todo:hover {
    -moz-box-shadow: -5px -5px 5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px 5px#888;
    box-shadow: -5px -5px 5px 5px #888;
    cursor: copy;
}

.edit,
.todo-del {
    margin: 0 20px;
    background-color: transparent;
    border: none;
}

.edit:hover,
.todo-del:hover {
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

form.NewTask-form {
    margin-left: 19px;
    background-color: white;
    height: 150px;
    width: 45%;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    position: absolute;
    bottom: 0;
    padding: 20px;
    z-index: 2;
}

.newTaskForm {
    display: flex;
    margin: 20px;
    justify-content: flex-start;
}

.todo-input {
    flex: 3;
}

.add-btn {
    flex: 1;
    width: 150px;
}

input:not([type="image" i]) {
    box-sizing: border-box;
}

.footer {
    background-color: transparent;
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn:hover {
    -webkit-box-shadow: -7px -9px 118px 4px rgba(51, 45, 51, 1);
    -moz-box-shadow: -7px -9px 118px 4px rgba(51, 45, 51, 1);
    box-shadow: -7px -9px 118px 4px rgba(51, 45, 51, 1);
}

.btn {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4ee3a4;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    z-index: 2;
}

.btn1 {
    border: 3px solid #fff;
    color: #fff;
    padding: 2px;
    background-color: #ffffff;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    flex: 1;
    cursor: pointer;
}

.btn1:hover {
    -webkit-box-shadow: -1px -9px 45px -12px rgba(51, 45, 51, 1);
    -moz-box-shadow: -1px -9px 45px -12px rgba(51, 45, 51, 1);
    box-shadow: -1px -9px 45px -12px rgba(51, 45, 51, 1);
}

.btn-ico {
    font-size: 48px;
    color: black;
}

.views {
    display: flex;
}

.done-container {
    position: absolute;
    height: 50%;
    width: 50%;
    z-index: 1;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px 30px;
    -webkit-box-shadow: -10px -7px 17px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -10px -7px 17px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -10px -7px 17px -4px rgba(0, 0, 0, 0.75);
}

.prog-list {
    font-size: 2em;
    text-align: right;
}

.prog {
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
}

.prog:hover {
    -moz-box-shadow: -5px -5px 5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px 5px#888;
    box-shadow: -5px -5px 5px 5px #888;
    cursor: cell;
}

.save-edit,
.todo-undo,
.prog-undo {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.save-edit:hover,
.prog-undo:hover,
.todo-undo:hover {
    -webkit-box-shadow: 0px -1px 20px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 20px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 20px -3px rgba(0, 0, 0, 0.75);
}

.done-list {
    font-size: 2rem;
}

.jobDone {
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.jobDone:hover {
    -moz-box-shadow: -5px -5px 5px 5px #888;
    -webkit-box-shadow: -5px -5px 5px 5px#888;
    box-shadow: -5px -5px 5px 5px #888;
    cursor: grabbing;
}

.edit-area {
    font-size: 2em;
    width: 100%;
    height: 50px;
}

@media only screen and (max-device-width: 2560px) and (min-device-width: 1500px) {
    .main {
        flex-basis: 70%;
    }
}

@media only screen and (max-device-width: 500px) and (min-device-width: 300px) {
    .main {
        flex-basis: 100%;
        height: 100%;
    }
    .views {
        flex-direction: column;
    }
    .NewTask-form {
        height:
    }
}