* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e1e0;
}

#modal-main {
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modal-create {
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    position: relative;
    margin: auto auto;
    top: 120px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 80%;
    height: auto;
    min-height: 100px;
    padding-bottom: 20px;
}

#modal-main h2 {
    float: left;
    color: #333;
    padding: 15px;
}

#modal-main span {
    padding: 15px;
    float: right;
    font-size: 18px;
    transition: all 50ms;
    color: #333;
}

#modal-main span:hover {
    color: #ff6666;
}

.header-modal {
    margin-bottom: 20px;
    height: auto;
    min-height: 50px;
    border-bottom: 2px solid #333;
}

#main-container {
    position: relative;
    top: 2.5vh;
    margin: auto auto;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    width: 700px;
    height: auto;
    min-height: 900px;
    overflow: auto;
}

.task-btn {
    z-index: 999;
    position: absolute;
    outline: none;
    color: #333;
    height: 100px;
    width: 100px;
    border: none;
    font-size: 40px;
    border-radius: 50%;
    background-color: #defcfc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.box-shad1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.box-shad1:hover {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bot-pos {
    right: 30px;
    bottom: 30px;
}

.inner-modal {
    position: relative;
    margin: auto auto;
    width: 95%;
    height: auto;
    min-height: 40px;
}

.inner-modal #info {
    font-family: 'Roboto';
    font-size: 21px;
    padding: 5px;
    width: 98%;
    height: 80px;
    border: 1px solid #696969;
}

.inner-modal #info:focus {
    border: 1px solid #03a9f4;
}

.inner-modal label {
    font-size: 21px;
}

.sub-btn {
    color: #333;
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #defcfc;
}

#content-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    position: relative;
    top: 10px;
    margin: auto auto;
    width: 95%;
    height: auto;
    min-height: 880px;
    color: #333;
}

#content-container .box-cont {
    width: 100%;
    border-radius: 5px;
}

.box-cont .box-head {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 60px;
}

.box-cont .box-head h2 {
    font-size: 36px;
    padding-left: 15px;
}

.box-body {
    width: 95%;
    height: auto;
    min-height: 20px;
    position: relative;
    margin: auto auto;
    overflow: auto;
}

.box-body ul li {
    margin-top: 5px;
    list-style-type: none;
    font-size: 20px;
    width: 100%;
    margin-bottom: 5px;
    height: auto;
    min height: 40px;
}

.box-body ul li i {
    font-size: 20px;
    float: right;
    cursor: pointer;
    padding-left: 10px;
}

.box-body ul li .fa-trash-o:hover {
    color: #ff6666;
    text-shadow: -2px 1px rgba(0, 0, 0, 0.3);
}

.box-body ul li .fa-check-square-o:hover {
    color: #66cc66;
    text-shadow: -2px 1px rgba(0, 0, 0, 0.3);
}

.box-body ul li .fa-eraser:hover {
    color: #6699cc;
    text-shadow: -2px 1px rgba(0, 0, 0, 0.3);
}

.color1 {
    background-color: #d6f8b8;
}

.color2 {
    background-color: #deecfc;
}

.color3 {
    background-color: #faa9e0;
}