html{
    margin: 0;    
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    
}
body{
    background-color: #ccd6e8;
}
.header{
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
}
.header-title h1{
    color: gray;
}
.new-task-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-task img{
    width: 50px;
}
.post-task input[type=text]{
    font-size: 20px;
    padding: 5px;
    width: 400px;
    border: solid 1.2px #999;
    border-radius: 5px;
    font-family: 'Roboto Mono', monospace; 
}
.body-container{
    margin-top: 20px;
    height: 100vh;
}

.list-row{
    display: flex;
    justify-content: space-evenly;
}
.row {
    background-color: white;
    margin: 1% 3%;
    height: auto;
    text-align: center;
    padding: 15px;
}
.column img{
    height: 30px;
    width: 30px;
}
.column{
    border-bottom: solid 1px #999;
    
}
.box-item {
    padding: 10px;
    font-size: 13px;
    margin-top: 10px;
    text-align: left;
    
}
.box-item i{
    font-size: 18px;
    float: right;
    margin-right: 15px;
    color: #353535;
    
}
.box-item img{
    width: 23px;
    height: 20px;
}
